@charset "UTF-8";

body {
    font: normal 20px Arial, Verdana, serif;
    text-align: left;
}
/* Medidas Absolutas
cm, mm, in (polegadas), px (usar), pt, pc 

Medias Relativas
em (usar) , ex, rem, vw, vh, %
16px geralmente  = 1em
*/
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* lighter, normal, bold, bolder */
    font-style: italic;

    /*shorthand font
    font-style , font-weight, font-size, font-family */

    font: italic bolder 20px 'Times New Roman', sans-serif;
}
h1 {
    text-align: center;
}
h2{
    text-align: right;
}
p {
    text-align:justify ;
    text-indent: 30px;
}