@charset "UTF-8";
body {
background-color: #84E1AD;
}
main {
    background-color: white;
    padding: 10px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 20px;
}
h1, h2, p , img {
    background-color: white;
}
header {
    background-image: linear-gradient(#36C074,#1E693F,#1A5C38);
    margin: 0px;
}
h4, h5{ 
    color: white;
    text-align: center;

}
a {
    color: white;
    padding: 25 px;
    margin: 10px;
    text-decoration: none;
}
p {
    text-indent: 30px;
    text-align: justify;
}